@font-face {
    font-family: appleBerry;
    src: url(../font/appleberry.ttf)
}

@font-face {
    font-family: chalKFont;
    src: url(../font/chalk.ttf)
}


body {
    margin: 0;

}



div.site-overlay {
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 100000;

}
#image_gallery,
.image_gallery{
width:1400px;
height:700px;
margin-left:10px;
max-height: 70%;
max-width:95%;
}
.image_gallery img{
  width:10%;
  height:10%;
  
}

div.site-info-container {
    /*font-family: appleBerry;*/
    background-color: rgba(255, 255, 255, 1);
    width:100%;
}


div.site-info-container h1 {

font-family: chalKFont;
    text-align: center;
}



div.prof-div{
    margin:5%;
}

div.prof-div a{

    text-decoration: none;
}

div.prof-div a:hover{
    font-size: 26px;
}


/*Site side bar css*/


.site-sidebar {
    padding: 2px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    position: absolute;
    float: right;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.site-sidebar div {
    cursor: pointer;
    border-radius: 0%;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 1);
    text-align: center;
    width: 98%;
    border: 1px solid rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}


.site-sidebar div:hover {

    box-shadow: -2px -2px 20px rgba(255, 255, 255, 1);
    border-radius: 10%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}

div.about-me:hover {
    text-decoration: line-through;
    text-decoration-style: dashed;
}

p.info-para {
    text-align: center;
    font-size: 8px;
    text-shadow: -1px -1px 5px rgba(0, 0, 0, 1);
   /* font-family: chalkFont;*/
    text-transform: uppercase;
}


  a:link,
  a:visited {
    color: black;
  }

  h3 {
  
    z-index: 1000;
    font-family:appleBerry;
    text-align:center;

  }

 i{
     font-size:8px;
     font-family: 'Courier New', Courier, monospace;
 }


.div-eg,
 .img-container{
    display:inline-block;
    width:49.6%;
    opacity : 0;
  }
  .img-container-1{
      width:99.9%;
  }



  #div-container div,
  .image_gallery_1 img,
  .image_gallery_2 img,
  .image_gallery_3 img {
  width:31%;

  }
  #div-container div{
    font-size:13;
    text-align:center;
    color:rgba(255,255,255,1);
    font-family:chalKFont; 
    padding-top:25px;
      
  }

  
 i{
     font-size:8px;
     font-family: 'Courier New', Courier, monospace;
 }
 #doc-info{
     padding:2%;
 }

 .doc-pre {
     padding:1%;
 }

  
  