@font-face {
    font-family: appleBerry;
    src: url(../font/appleberry.ttf)
}

@font-face {
    font-family: chalKFont;
    src: url(../font/chalk.ttf)
}


body {
    margin: 0;
    overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 1);
}

::-moz-scrollbar-track {
    background: rgba(255, 255, 255, 1);
}

.site-info-container::-webkit-scrollbar {
    display: none;
}

.site-info-container::-moz-scrollbar {
    display: none;
}


div.site-overlay {
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 100000;
}

div.site-info-container {
    /*font-family: appleBerry;*/
    width: 89%;
    height: 91%;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    float: left;
    position: absolute;
    overflow: auto;
}


div.site-info-container h1 {

font-family: chalKFont;
    text-align: center;
}



div.prof-div{
    margin:5%;
}

div.prof-div a{

    text-decoration: none;
}

div.prof-div a:hover{
    font-size: 26px;
}


/*Site side bar css*/


.site-sidebar {
    padding: 2px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    position: absolute;
    float: right;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}

.site-sidebar div {
    cursor: pointer;
    border-radius: 0%;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 1);
    text-align: center;
    width: 98%;
    border: 1px solid rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}


.site-sidebar div:hover {

    box-shadow: -2px -2px 20px rgba(255, 255, 255, 1);
    border-radius: 10%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}

div.about-me:hover {
    text-decoration: line-through;
    text-decoration-style: dashed;
}

p.info-para {
    text-align: center;
    font-size: 8px;
    text-shadow: -1px -1px 5px rgba(0, 0, 0, 1);
   /* font-family: chalkFont;*/
    text-transform: uppercase;
}



  div.image_upload,
  div.image_gallery_2 {
    border-radius: 5px;
    background: #fff;
  }

  a:link,
  a:visited {
    color: black;
  }

  h3 {
    margin-top: 0;
    margin-left: 0.75rem;
    z-index: 1000;
    position: absolute;
    font-family:appleBerry;
    font-size:13px;

  }

  .image_gallery_1,
  .image_gallery_2{
     margin:10px; 
    display:block;
  }
  .image_gallery_1 img,
  .image_gallery_2 img {
    width: 11%;
    margin-right:0.05%;
    margin-left:0.05%;
    margin-top:0.08%;
    margin-bottom:0.08%;
  }
  .image_gallery_1 img:hover,
  .image_gallery_2 img:hover,
  .image_gallery_3 img:hover{

    box-shadow: -1px 1px 5px rgba(0,0,0,1);
  }
  .image_gallery_3{
  }

  .image_gallery_3 img{
    width:90%;
    margin:5%;
  }
  
 i{
     font-size:8px;
     font-family: 'Courier New', Courier, monospace;
 }

 .doc-page{
     padding:5%;
 }
  
  